<div class="container__big-card">
  <!-- Mockado: conteúdo travado...ainda não dinâmico -->
  <div class="big-card__photo">
    <img src="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
     alt="" height="200px" srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">ipsum dolor sit amet, consectetur
      adipiscing elit. Praesent varius purus
      et lacus sagittis pulvinar. In elementum
      dui non quam eleifend, vitae molestie lectus
      ullamcorper.</a></p>
  </div>
</div>
