<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
    cardTitle="Saiu a nova versão do Angular"
    cardDescription="ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius purus et lacus sagittis pulvinar. In elementum dui non quam eleifend, vitae molestie lectus ullamcorper."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr6a3JwynKKhblkrjpWw7HlHo18AooKWZELw&usqp=CAU"
    cardSmallTitle="Conhecendo o Universo Angular"></app-small-card>
    <app-small-card photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-vNLdI-RMwVElsbcFOgASL_-ZX_HD4BMWVg&usqp=CAU"
    cardSmallTitle="React ou Angular? Qual escolher para iniciar."></app-small-card>
    <app-small-card photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWRRcC7CJk1SyEIG7kUeE7DPAaT78UoSkL6w&usqp=CAU"
    cardSmallTitle="Boas Práticas Angular"></app-small-card>
  </div>
</div>
