<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="0"
    photoCover="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
    cardTitle="Saiu a nova versão do Angular"
    cardDescription="ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius purus et lacus sagittis pulvinar. In elementum dui non quam eleifend, vitae molestie lectus ullamcorper."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    Id="1"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr6a3JwynKKhblkrjpWw7HlHo18AooKWZELw&usqp=CAU"
    cardSmallTitle="Conhecendo o Universo Angular"></app-small-card>
    <app-small-card
    Id="2"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-vNLdI-RMwVElsbcFOgASL_-ZX_HD4BMWVg&usqp=CAU"
    cardSmallTitle="React ou Angular? Qual escolher para iniciar."></app-small-card>
    <app-small-card
    Id="3"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWRRcC7CJk1SyEIG7kUeE7DPAaT78UoSkL6w&usqp=CAU"
    cardSmallTitle="Boas Práticas Angular"></app-small-card>
  </div>
</div>

<!-- DIVISÃO DE CONTIANER -->

<div class="container__articles">
  <div class="articles__others">
    <app-small-card
    Id="4"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5W60yulwGKbqtaTwRtEnrRYr2M1TXtQzdwA&usqp=CAU"
    cardSmallTitle="Angular? O que é e para o que serve?"></app-small-card>
    <app-small-card
    Id="5"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnnGJFVh0fs9gvWTV_7K5erTxtur4OXft0Pw&usqp=CAU"
    cardSmallTitle="Conheça as versões do Angular"></app-small-card>
    <app-small-card
    Id="6"
    photoSmallCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwvzlFIE8-Qy1zNcpTZyQXzu17Ndv37lH2VQ&usqp=CAU"
    cardSmallTitle="Angular ou Vue? Quais as diferenças?"></app-small-card>
  </div>

  <div class="articles__main">
    <app-big-card
    Id="7"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiObA19fyF0XK71k4jmwuoNvGekL6gQ042InBNyXsarD8Gmzn7nE6GqqNASH9d49A9mJ0&usqp=CAU"
    cardTitle="Começando na programação, quais ferramentas e linguagens utilizar"
    cardDescription="ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius purus et lacus sagittis pulvinar. In elementum dui non quam eleifend, vitae molestie lectus ullamcorper."></app-big-card>
  </div>
</div>

